{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "node": true,
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": "off",
    "generator-star-spacing": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "react/no-unused-prop-types": "off",
    "react/no-array-index-key": "off",
    "no-console": 0,
    "global-require": 0,
    "semi": [1, "never"],
    "max-len": ["error", 140],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
  "plugins": [
    "jest",
    "jasmine"
  ]
}
